<!-- home.html -->

    {% extends 'base.html' %}
    {% block title %} Home {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Welcome {{ username }}</h4>
            <h4 class="text-center">Followers : {{ followers_count }}</h4>
            {% if followers_count > 1000%}
            <h4 class="text-center">You are eligible for this app</h4>
            {% else %}
            <h4 class="text-center">You are not popular enough for us</h4>
            {% endif %}
        </div>
    </div>
    {% endblock %}